.admin-top {
	margin-top: 0px;
	height: 10%;
	width: 100%;
	background-color: #222d32;
}

.admin-top-user {
	float: right;
	height: 60%;
	width: 20%;
	margin-bottom:0px;
	margin-top:0.5%;
	background-color: #222d32;
}

.admin-nav {
	padding-left: 0;
	margin-bottom: 0;
	border:0px;
	margin-right:25px;
	list-style: none;
}

.admin-nav>li {
	position: relative;
	background-color: #222d32;
	display: block;
}

.admin-nav>li>a {
	position: relative;
	display: block;
	padding: 10px 0 10px 15px;
}

.admin-nav>li>a:hover, .admin-nav>li>a:focus {
	text-decoration: none;
	border-radius:5%;
	 margin-right:25%; 
	background-color: #ffffff; /*ÐÞ¸ÄÊó±êÐü¸¡±³¾°É«  */
}

.admin-nav>li.disabled>a {
	color: #777;
}

.admin-nav>li.disabled>a:hover, .admin-nav>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

.admin-nav .open>a, .admin-nav .open>a:hover, .admin-nav .open>a:focus {
	background-color: #35464f;
	padding-left:5px;
	border-color: #428bca;
}

.admin-nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.admin-nav>li>a>img {
	max-width: none;
}


.admin-top-user>ul>li>a {
	font-size: 16px;
	border:0px;
}

.admin-top-user>ul>li>a:hover ,a:focus{
	font-size: 16px;
	border:0px;
	background-color: #35464f;
}

.admin-top-user>ul>li>a:focus{
	font-size: 20px;
	background-color: #35464f;
}

.admin-avatar {
	width: 30%;
	height: 80%;
	padding-right: 10%;
}

.admin-msg {
	float: right;
	width: 70%;
	height: 100%;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', Arial, sans-serif;
	color:#fff;
	background-color:#222d32;
}

.admin-body {
	background-color: #b5b5b5;
	width: 100%;
	height: 100%;
}

.admin-logo {
	background-color: #222d32;
}

.admin-menu {
	width: 100%;
	heigth: 80%;
}

.admin-logo-img {
	width: 40%;
	height: 12%;
	border-radius: 10%;
	margin: 5% 5% 5% 25%;
}