


.data{	
	background-color:#ffffff;
	width:900px;
	height:187px;
	position:relative;
	left:20px;
	border-radius:2px;
	border:1px solid #e8e8e8;
	margin-bottom:15px;
}

.data-left-img{
	width:180px;
	height:130px; 
	margin:10px 10px;
	float:left;
}

.data-img{
	width:180px;
	height:134px;
}


.data-left{
	width:200px;
	height:150px; 
	float:left;
	margin:15px 10px;
}
.data-center{
	background-color:#fff;
	width:560px;
	height:134px; 
	float:left;
	margin:25px 0px;	
}

.data-table{
	width:420px;
	height:134px;
	float:left;
}

.data-tables table td{
	padding-left:10px;
}

.data-table-td-title{
	padding-left:15px;
	font-size:18px;
	font-weight:700;
	color:#000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.data-table-td-border{
	padding-left:15px;
	border-right:1px solid #3f3f3f;
}



.data-table>tr>td{
	margin-left:3px;
	text-align: right;
}



.data-right{
	background-color:#ffffff;
	width:100px;
	height:134px; 
	float:left;
	margin:25px 0px 10px 5px;
}

.data-price{
	width:90px;
	height:60px;
	background-color:#ffffff;
	color:red;
	margin:10px 2px 0 2px;
}

.data-price-num{
	float:left;
	
	background-color:#ffffff;
	font-size:32px;
}

.data-price-unit{
	float:right;
	background-color:#ffffff;
	font-size:12px;
	
}




.data-time{
	width:80px;
	height:50px;
	color:#000000;
	font-size:16px;
	background-color:#ffffff;
	margin:5px 8px ;
}

.recommend-img{
	margin-top:2px;
}

.recommend-data-img{
	margin:5px 0px 5px 9px;
	width:180px;
	height:130px;
}

.recommend-info{
	margin-left:10px;
}





/* .data-table td{
	background-color:#ffffff;
	border:2px solid #ff0080;
	width:30%;
	height:100%;
	margin:25px 25px;
}

.data-table tr{
	width:60%;
	border:3px solid #c0c0c0;
} */





.table-img{
	background-color:#ff0080;
	float:left;
	width:70%;
	height:80%;
}