<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 加载外部配置文件 db.properpies 数据库配置文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properpies</value>
			</list>
		</property>
	</bean>



	<!-- Hibernate 配置 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${driver}</value>
		</property>
		<property name="url">
			<value>${url}</value>
		</property>
		<property name="username">
			<value>${username}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
	</bean>

	<!--定义Hibernate的SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 依赖注入已配置好的数据源 -->
		<property name="dataSource">
			<ref local="dataSource" />
		</property>

		<!--指定Hibernate所有映射文件的路径 -->
		<property name="mappingResources">
			<list>
				<value>com/jiaxin/entity/User.hbm.xml</value>
				<value>com/jiaxin/entity/UserTemp.hbm.xml</value>
				<value>com/jiaxin/entity/AdminEntity.hbm.xml</value>
			</list>
		</property>

		<!-- 设置Hibernate的属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 配置Hibernate的数据库方言 -->
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!--设置是否在控制台输出由Hibernate生成的SQL语句 -->
				<prop key="show_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> <prop key="hibernate.connection.autocommit">true</prop> 
					<prop key="sql_format">true</prop> -->
			</props>

		</property>
	</bean>

	<!-- Service配置 -->
	<!-- <bean id="userDAOImpl" class="com.jiaxin.dao.UserDAOImpl" > <property 
		name="sessionFactory" ref="sessionFactory"></property> </bean> -->
	<bean id="user" class="com.jiaxin.entity.User"></bean>
	<bean id="userTemp" class="com.jiaxin.entity.UserTemp"></bean>
	<bean id="admin" class="com.jiaxin.entity.AdminEntity"></bean>


	<!--Dao配置 -->
	<bean id="userDao" class="com.jiaxin.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="userService" class="com.jiaxin.service.UserServiceImpl"
		scope="prototype">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<!-- UserTempDao 配置 -->
	<bean id="userTempDao" class="com.jiaxin.dao.impl.UserTempDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- UserTempService 配置 -->
	<bean id="userTempService" class="com.jiaxin.service.impl.UserTempServiceImpl"
		scope="prototype">
		<property name="userTempDao" ref="userTempDao"></property>
	</bean>

	<!-- AdminDao 配置 -->
	<bean id="adminDao" class="com.jiaxin.dao.impl.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- AdminService 配置 -->
	<bean id="adminService" class="com.jiaxin.service.impl.AdminServiceImpl"
		scope="prototype">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	
	<!-- Action配置 -->
	<bean id="TestAction" class="com.jiaxin.action.TestAction"></bean>

	<bean id="UserManagerAction" class="com.jiaxin.action.UserManagerAction">
		<property name="userService" ref="userService"></property>
	</bean>


	<bean id="UserRegisterAction" class="com.jiaxin.action.UserRegisterAction">
		<property name="userService" ref="userService"></property>
		<property name="userTempService" ref="userTempService"></property>
	</bean>


	<bean id="UserLoginAction" class="com.jiaxin.action.UserLoginAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<!-- AdminAction 配置 -->
	<bean id="AdminAction" class="com.jiaxin.action.admin.AdminAction">
		<property name="adminService" ref="adminService"></property>
	</bean>
</beans>